<h1>Hello fron main</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"></script>
    <title>Document</title>
</head>
<body>
    <button hx-get="/test_json" hx-target=".test_json">TEST BUTTON</button>
    <div class="test_json"></div><br>
    <button hx-post="/test_post" hx-swap="none" hx-vals='{"test": "TEST"}'>TEST POST BUTTON</button>
</body>
</html>